<div class="container">
  <input #inputTextField>
  <button class="btn btn-success" (click)="onSearchPressed(inputTextField)">Search tweets</button>
  <hr>
  <div class="row">
    <div class="col-xs-12" *ngIf="userTweets.length === 0; else withUserTweets" >
      <app-tweet-item *ngFor="let tweet of searchTweets" [tweet]="tweet"></app-tweet-item>
    </div>
    <ng-template #withUserTweets >
      <div class="col-md-5">
        <app-tweet-item *ngFor="let tweet of searchTweets" [tweet]="tweet"></app-tweet-item>
      </div>
    </ng-template>
    <div  class="col-md-5" *ngIf="userTweets.length > 0" >
      <app-user-detailed></app-user-detailed>
    </div>
  </div>
</div>
